*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: #151515;
    color: #fff;
    font-family: sans-serif;
}

header{
    background-color: #151515;
    position: sticky;/* respeta el punbto inicial de la caja y a partir de que el scroll toca el elemento se mueve con el*/
    top: 0;
    z-index: 2; 
}

.container{
    max-width: 900px;
    margin: auto; /* centrar cajas */
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header-content ul{
    display: flex;
    gap: 10px; /* todos los elementos se separan entre si */

}

/* seccion welcome */


.welcome-content{
    display: flex;
    padding: 50px 0;
}

.col-1{
    display: flex;
    flex-direction: column;
    gap: 25px;
  /*   background-color: blueviolet; */
    flex: 1; /* proporcion de 2 */
}

.col-1 h3{ font-size: 3rem;}
.col-1 h3 span{
    text-decoration: underline;
    text-decoration-color:aquamarine;
}

.col-1 a{
    color: #fff;
    text-transform: uppercase; /* lo pone en mayus */
    letter-spacing: 2px;/* espacio entre letras */
    text-decoration-color:aquamarine;
}

.col-2{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
 /*    background-color: rgb(65, 26, 102); */
    flex: 1; /* proporcion de 1 */
    overflow: hidden;
}

.img-pizza, .img-hoja, .img-tomato{
    position: absolute;

}
.img-pizza{
    filter: blur(1.5px);
}

.img-tomato{
    width: 80%;
    right: -30px;
    top: 0;

}

.img-hoja{
    width: 40%;
    left: 0;
    bottom: 40px;
    transform: rotate(130deg); /* rota la img */
}

/* seccion productos */

#productos{
    background-color: lightgray;
}

#productos > .container{
    background-color: rgb(117, 111, 111);
}

.productos-content{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.product-card{
    flex: 1;
    position: relative;
    border-radius:30px;
    overflow: hidden; /* muestra solo los elementos dentro de la caja ocultando lo demas */
}

/* .productos-content div:nth-child(1){
background-color: rgb(23, 126, 211);
} */

/* .productos-content div:nth-child(2){
    background-color: green;
} */

.productos-content div:nth-child(3){
   /*  background-color: tomato; */
}
    

/* Card hover */
.card-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514)!important;
    top: 0;
    left: 0;
    opacity: 0;
    transition-duration: .5s; /* la duración entre opacity 0 a 1 */
}

.product-card:hover .card-hover{ /* el hover es lo que va a pasar cuando el cursor este sobre el elemento y el .card-hover manda a llamar a ese elemento para hacerle un cambio */
    opacity: 1;
}

.card-hover-header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
}

  
.card-hover-header a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.btn-guardar{
    background-color: rgb(240, 78, 50);
    color: white;
    padding: 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer; /* aparece una manita cuando el cursor toca el elemento */
}
.product-card img{
    width: 100%;
}

/* card hover footer */
.card-hover-footer{
    display: flex;
    justify-content: end;
    padding: 15px;
    gap: 10px;
}

.card-hover-footer i{
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.skills-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
}

.skills-content > div{
    display: grid;
    row-gap: 10px;
}
/* Primer breakpoint tablet */

@media screen and (max-width:992px){
    body{
      /*   background-color: tomato; */
    }
    .welcome-content{
        flex-direction: column-reverse;
    }    
    .col-2{
      /*  background-color: rgb(65, 26, 102)!important;  */
        flex: none; 
        height: 230px;
    }
    .img-pizza, .img-hoja, .img-tomato{
        width: 230px;
    
    }
   /*  .productos-content{
       flex-wrap: wrap;
    }
    .product-card{
        flex: none;
        width: 49%;
    } */
    .skills-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Segundo breakpoint mobile */

@media screen and (max-width:576px){
    body{
        /* background-color: blueviolet; */
    }
    .productos-content{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
   /*  .product-card{
        flex: none;
        width: 80%;
        margin: auto;
    } */
    .skills-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .skills-content > div{
        text-align: center;
    }
}
