*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Padre */
.container{
    display: grid;
    grid-template-columns:repeat(4, 1fr); 
 /*    grid-template-rows: repeat(4, 1 fr); */
   /*  grid-template-rows: repeat(3, 1fr); --repeat te pregunta por el numero e columnas y el tamaño de ellas--  */
    gap:10px; /* existe column-gap y row-gap */

    width: 600px;
    height: 600px;
    background-color: blueviolet;
    border: 3px solid black;
    margin: 40 px auto;
    padding: 10px;
}
/* Hijo */
.ball{
    display: flex;
    justify-content: center;
    align-items: center;
   /*  width:100px;
    height: 100px;   */
    background-color: orange;
    border-radius: 10px;
    border: 3px solid black;
    color: white;
}

.celeste{
    background-color: aquamarine;
    color: black;
 /*    grid-column-start: 4;
    grid-column-end: 5; */
    grid-column: 4/5; /* mismo resultado de otra forma */
    grid-row-start: 2;
    grid-row-end: 4;
}

.tomato{
    background-color: tomato;
    grid-column-start: 2;/* en que linea de columna inicia */
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;/* en que linea de fila acaba */
}