*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
background-color: hsl(46.63deg 88.3% 63.14%);
}

div{
    background-color: red;
}

.card{
background-color: white;
margin-top: 100px;
width: 450px;
padding: 25px;
margin: 100px auto;
border-radius: 20px;
border: 1px solid black;
box-shadow: 6px 6px 0px black; /* valor en x, valor en y, difuminado de la sombra */
}

.card span{
    display: inline-block;
    background-color: hsl(46.63deg 88.3% 63.14%);
    padding: 5px 10px;
    border-radius: 4px;
}

.card small{
    display: inline-block;
    margin: 10px 0px;
}

.card > img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

.card  > p{
    color: gray;
    margin-top: 15px;
    line-height: 23px;
}

.user-info-box{
    margin-top: 20px;
}

.user-info-box img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
.user-info-box p{
display: inline-block;
vertical-align: middle;
font-weight: bold;
}